<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oz.onestong.dao.system.AppVersionMapper" >
  
  	<select id="selectVersionByDevice" resultType="java.util.HashMap" parameterType="java.util.HashMap">
  	
  		select * from app_version where device = #{device,jdbcType=CHAR}
  	
  	</select>	
  	
  	<select id="countAll" resultType="java.lang.Integer">
  		select count(*) from app_version  
  	
  	</select>
  	
  	<select id="selectAllVersions"  resultType="java.util.HashMap">
  		select * from app_version order by version_id desc
  	
  	</select>
  	
  	
  	<update id="updateVersionById"  parameterType="java.util.HashMap">
  	
  		update app_version set version_name = #{version.versionName,jdbcType=VARCHAR} ,
  		
  		download_url = #{version.downloadUrl,jdbcType=VARCHAR} ,
  		
  		update_now = #{version.updateNow,jdbcType=TINYINT} 
  		where version_id = #{version.versionId,jdbcType=INTEGER}
  		
  	
  	</update>
  	
</mapper>