<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ost.edge.onestong.dao.event.AttenceEventMapper" >

	<resultMap type="org.ost.edge.onestong.model.event.AttenceEvent" id="attenceEventAndCommentMap">
			<id column="se_id" property="seId" jdbcType="CHAR" />
		    <result column="user_id" property="userId" jdbcType="INTEGER" />
		    <result column="signed_time" property="signedTime" jdbcType="TIMESTAMP" />
		    <result column="signed_address" property="signedAddress" jdbcType="VARCHAR" />
		    <result column="signed_longitude" property="signedLongitude" jdbcType="VARCHAR" />
		    <result column="signed_latitude" property="signedLatitude" jdbcType="VARCHAR" />
		    <result column="signout_time" property="signoutTime" jdbcType="TIMESTAMP" />
		    <result column="signout_address" property="signoutAddress" jdbcType="VARCHAR" />
		    <result column="signout_longitude" property="signoutLongitude" jdbcType="VARCHAR" />
		    <result column="signout_latitude" property="signoutLatitude" jdbcType="VARCHAR" />
		    <result column="state" property="state" jdbcType="TINYINT" />
		    <result column="valid" property="valid" jdbcType="TINYINT" />
		    <result column="description" property="description" jdbcType="VARCHAR" />
		    <result column="lated_for_time" property="latedForTime" jdbcType="INTEGER" />
		    <result column="le_for_time" property="leForTime" jdbcType="INTEGER" />
		    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    		<result column="like_count" property="likeCount" jdbcType="INTEGER" />
		    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		    <result column="creator" property="creator" jdbcType="VARCHAR" />
		    <result column="updator" property="updator" jdbcType="VARCHAR" />
		    <result column="optional1" property="optional1" jdbcType="VARCHAR" />
		    <result column="optional2" property="optional2" jdbcType="VARCHAR" />
		    <result column="optional3" property="optional3" jdbcType="VARCHAR" />
			
	
		<collection property="comments" ofType="org.ost.edge.onestong.model.comment.Comment">
    <id property="commentId" column="c_comment_id"/>
    <result property="userId" column="c_user_id"/>
    <result property="creator" column="c_creator"/>
    <result property="createTime" column="c_create_time"/>
    <result property="content" column="c_content"/>
  </collection>
    
	
	
	
	
	</resultMap>




  <resultMap id="BaseResultMap" type="org.ost.edge.onestong.model.event.AttenceEvent" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    <id column="se_id" property="seId" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="signed_time" property="signedTime" jdbcType="TIMESTAMP" />
    <result column="signed_address" property="signedAddress" jdbcType="VARCHAR" />
    <result column="signed_longitude" property="signedLongitude" jdbcType="VARCHAR" />
    <result column="signed_latitude" property="signedLatitude" jdbcType="VARCHAR" />
    <result column="signout_time" property="signoutTime" jdbcType="TIMESTAMP" />
    <result column="signout_address" property="signoutAddress" jdbcType="VARCHAR" />
    <result column="signout_longitude" property="signoutLongitude" jdbcType="VARCHAR" />
    <result column="signout_latitude" property="signoutLatitude" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="valid" property="valid" jdbcType="TINYINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="lated_for_time" property="latedForTime" jdbcType="INTEGER" />
    <result column="le_for_time" property="leForTime" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="optional1" property="optional1" jdbcType="VARCHAR" />
    <result column="optional2" property="optional2" jdbcType="VARCHAR" />
    <result column="optional3" property="optional3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    se_id, user_id, signed_time, signed_address, signed_longitude, signed_latitude, signout_time, 
    signout_address, signout_longitude, signout_latitude, state, valid, description, 
    lated_for_time, le_for_time, create_time, update_time, creator, updator, optional1, 
    optional2, optional3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.ost.edge.onestong.model.event.AttenceEventExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from attence_events
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    select 
    <include refid="Base_Column_List" />
    from attence_events
    where se_id = #{seId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    delete from attence_events
    where se_id = #{seId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.ost.edge.onestong.model.event.AttenceEventExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    delete from attence_events
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.ost.edge.onestong.model.event.AttenceEvent" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    insert into attence_events (se_id, user_id, signed_time, 
      signed_address, signed_longitude, signed_latitude, 
      signout_time, signout_address, signout_longitude, 
      signout_latitude, state, valid, 
      description, lated_for_time, le_for_time, 
      create_time, update_time, creator, 
      updator, optional1, optional2, 
      optional3)
    values (#{seId,jdbcType=CHAR}, #{userId,jdbcType=INTEGER}, #{signedTime,jdbcType=TIMESTAMP}, 
      #{signedAddress,jdbcType=VARCHAR}, #{signedLongitude,jdbcType=VARCHAR}, #{signedLatitude,jdbcType=VARCHAR}, 
      #{signoutTime,jdbcType=TIMESTAMP}, #{signoutAddress,jdbcType=VARCHAR}, #{signoutLongitude,jdbcType=VARCHAR}, 
      #{signoutLatitude,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{valid,jdbcType=TINYINT}, 
      #{description,jdbcType=VARCHAR}, #{latedForTime,jdbcType=INTEGER}, #{leForTime,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{updator,jdbcType=VARCHAR}, #{optional1,jdbcType=VARCHAR}, #{optional2,jdbcType=VARCHAR}, 
      #{optional3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ost.edge.onestong.model.event.AttenceEvent" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    insert into attence_events
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seId != null" >
        se_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="signedTime != null" >
        signed_time,
      </if>
      <if test="signedAddress != null" >
        signed_address,
      </if>
      <if test="signedLongitude != null" >
        signed_longitude,
      </if>
      <if test="signedLatitude != null" >
        signed_latitude,
      </if>
      <if test="signoutTime != null" >
        signout_time,
      </if>
      <if test="signoutAddress != null" >
        signout_address,
      </if>
      <if test="signoutLongitude != null" >
        signout_longitude,
      </if>
      <if test="signoutLatitude != null" >
        signout_latitude,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="latedForTime != null" >
        lated_for_time,
      </if>
      <if test="leForTime != null" >
        le_for_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="optional1 != null" >
        optional1,
      </if>
      <if test="optional2 != null" >
        optional2,
      </if>
      <if test="optional3 != null" >
        optional3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seId != null" >
        #{seId,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="signedTime != null" >
        #{signedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signedAddress != null" >
        #{signedAddress,jdbcType=VARCHAR},
      </if>
      <if test="signedLongitude != null" >
        #{signedLongitude,jdbcType=VARCHAR},
      </if>
      <if test="signedLatitude != null" >
        #{signedLatitude,jdbcType=VARCHAR},
      </if>
      <if test="signoutTime != null" >
        #{signoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signoutAddress != null" >
        #{signoutAddress,jdbcType=VARCHAR},
      </if>
      <if test="signoutLongitude != null" >
        #{signoutLongitude,jdbcType=VARCHAR},
      </if>
      <if test="signoutLatitude != null" >
        #{signoutLatitude,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="latedForTime != null" >
        #{latedForTime,jdbcType=INTEGER},
      </if>
      <if test="leForTime != null" >
        #{leForTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="optional1 != null" >
        #{optional1,jdbcType=VARCHAR},
      </if>
      <if test="optional2 != null" >
        #{optional2,jdbcType=VARCHAR},
      </if>
      <if test="optional3 != null" >
        #{optional3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.ost.edge.onestong.model.event.AttenceEventExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    select count(*) from attence_events
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    update attence_events
    <set >
      <if test="record.seId != null" >
        se_id = #{record.seId,jdbcType=CHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.signedTime != null" >
        signed_time = #{record.signedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signedAddress != null" >
        signed_address = #{record.signedAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.signedLongitude != null" >
        signed_longitude = #{record.signedLongitude,jdbcType=VARCHAR},
      </if>
      <if test="record.signedLatitude != null" >
        signed_latitude = #{record.signedLatitude,jdbcType=VARCHAR},
      </if>
      <if test="record.signoutTime != null" >
        signout_time = #{record.signoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signoutAddress != null" >
        signout_address = #{record.signoutAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.signoutLongitude != null" >
        signout_longitude = #{record.signoutLongitude,jdbcType=VARCHAR},
      </if>
      <if test="record.signoutLatitude != null" >
        signout_latitude = #{record.signoutLatitude,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.valid != null" >
        valid = #{record.valid,jdbcType=TINYINT},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.latedForTime != null" >
        lated_for_time = #{record.latedForTime,jdbcType=INTEGER},
      </if>
      <if test="record.leForTime != null" >
        le_for_time = #{record.leForTime,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updator != null" >
        updator = #{record.updator,jdbcType=VARCHAR},
      </if>
      <if test="record.optional1 != null" >
        optional1 = #{record.optional1,jdbcType=VARCHAR},
      </if>
      <if test="record.optional2 != null" >
        optional2 = #{record.optional2,jdbcType=VARCHAR},
      </if>
      <if test="record.optional3 != null" >
        optional3 = #{record.optional3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    update attence_events
    set se_id = #{record.seId,jdbcType=CHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      signed_time = #{record.signedTime,jdbcType=TIMESTAMP},
      signed_address = #{record.signedAddress,jdbcType=VARCHAR},
      signed_longitude = #{record.signedLongitude,jdbcType=VARCHAR},
      signed_latitude = #{record.signedLatitude,jdbcType=VARCHAR},
      signout_time = #{record.signoutTime,jdbcType=TIMESTAMP},
      signout_address = #{record.signoutAddress,jdbcType=VARCHAR},
      signout_longitude = #{record.signoutLongitude,jdbcType=VARCHAR},
      signout_latitude = #{record.signoutLatitude,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=TINYINT},
      valid = #{record.valid,jdbcType=TINYINT},
      description = #{record.description,jdbcType=VARCHAR},
      lated_for_time = #{record.latedForTime,jdbcType=INTEGER},
      le_for_time = #{record.leForTime,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR},
      updator = #{record.updator,jdbcType=VARCHAR},
      optional1 = #{record.optional1,jdbcType=VARCHAR},
      optional2 = #{record.optional2,jdbcType=VARCHAR},
      optional3 = #{record.optional3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.ost.edge.onestong.model.event.AttenceEvent" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    update attence_events
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="signedTime != null" >
        signed_time = #{signedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signedAddress != null" >
        signed_address = #{signedAddress,jdbcType=VARCHAR},
      </if>
      <if test="signedLongitude != null" >
        signed_longitude = #{signedLongitude,jdbcType=VARCHAR},
      </if>
      <if test="signedLatitude != null" >
        signed_latitude = #{signedLatitude,jdbcType=VARCHAR},
      </if>
      <if test="signoutTime != null" >
        signout_time = #{signoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signoutAddress != null" >
        signout_address = #{signoutAddress,jdbcType=VARCHAR},
      </if>
      <if test="signoutLongitude != null" >
        signout_longitude = #{signoutLongitude,jdbcType=VARCHAR},
      </if>
      <if test="signoutLatitude != null" >
        signout_latitude = #{signoutLatitude,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="latedForTime != null" >
        lated_for_time = #{latedForTime,jdbcType=INTEGER},
      </if>
      <if test="leForTime != null" >
        le_for_time = #{leForTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="optional1 != null" >
        optional1 = #{optional1,jdbcType=VARCHAR},
      </if>
      <if test="optional2 != null" >
        optional2 = #{optional2,jdbcType=VARCHAR},
      </if>
      <if test="optional3 != null" >
        optional3 = #{optional3,jdbcType=VARCHAR},
      </if>
    </set>
    where se_id = #{seId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ost.edge.onestong.model.event.AttenceEvent" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 30 14:30:18 CST 2014.
    -->
    update attence_events
    set user_id = #{userId,jdbcType=INTEGER},
      signed_time = #{signedTime,jdbcType=TIMESTAMP},
      signed_address = #{signedAddress,jdbcType=VARCHAR},
      signed_longitude = #{signedLongitude,jdbcType=VARCHAR},
      signed_latitude = #{signedLatitude,jdbcType=VARCHAR},
      signout_time = #{signoutTime,jdbcType=TIMESTAMP},
      signout_address = #{signoutAddress,jdbcType=VARCHAR},
      signout_longitude = #{signoutLongitude,jdbcType=VARCHAR},
      signout_latitude = #{signoutLatitude,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      valid = #{valid,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR},
      lated_for_time = #{latedForTime,jdbcType=INTEGER},
      le_for_time = #{leForTime,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      updator = #{updator,jdbcType=VARCHAR},
      optional1 = #{optional1,jdbcType=VARCHAR},
      optional2 = #{optional2,jdbcType=VARCHAR},
      optional3 = #{optional3,jdbcType=VARCHAR}
    where se_id = #{seId,jdbcType=CHAR}
  </update>
  
  <select id="selectShortCutReportByDepartmentAndMonth"  parameterType="map" resultType="java.util.HashMap" >
  

  
  
   select tmp.* ,if(tmp1.visit_count is null ,0,tmp1.visit_count) visit_count from( SELECT
	sum(
		CASE
		WHEN ae.lated_for_time > 0 THEN
			1
		WHEN ae.lated_for_time IS NULL THEN
			0
		ELSE
			0
		END
	)lateSum,
	sum(
		CASE
		WHEN ae.le_for_time > 0 THEN
			1
		WHEN ae.le_for_time IS NULL THEN
			0
		ELSE
			0
		END
	)AS leSum,
	sum(
		CASE
		WHEN ae.state = 2 THEN
			1
		ELSE
			0
		END
	)AS norSignIn,
	sum(
		CASE
		WHEN ae.state = 1 THEN
			1
		ELSE
			0
		END
	)AS norSignOut,
	ae.updator,
	ae.user_id
FROM
	(
		SELECT
			aes.* 
		FROM
			attence_events aes,
			users u
		WHERE
			aes.user_id = u.user_id 
		AND u.dept_id = #{departmentId,jdbcType=INTEGER}
	)AS ae
 WHERE
	 ae.update_time BETWEEN #{start,jdbcType=TIMESTAMP}
 AND #{end,jdbcType=TIMESTAMP}
GROUP BY
	ae.user_id  order by ae.user_id) tmp  left join (

	SELECT
	count(1) AS visit_count,
	ves.user_id
FROM
	visit_events ves,
	users u
WHERE
	ves.user_id = u.user_id
AND u.dept_id = #{departmentId,jdbcType=INTEGER}

and
	 ves.update_time BETWEEN #{start,jdbcType=TIMESTAMP}
 AND #{end,jdbcType=TIMESTAMP}
GROUP BY
	ves.user_id
ORDER BY
	ves.user_id
	

) tmp1 on tmp.user_id = tmp1.user_id





  
  
  
  
  
  
  
  
  
  
   </select>
   
   <select id="selectShortCutReportByUserAndMonth"  parameterType="map" resultType="java.util.HashMap">
   
   SELECT
	ae.se_id,
	ae.user_id,
	ae.updator as userName,
	ae.lated_for_time,
	ae.le_for_time,
	ae.state,
	ae.update_time
	<!-- DATE_FORMAT(, '%m月%d日') as monthAndDay -->
FROM
	attence_events ae
WHERE
	ae.user_id = #{userId,jdbcType=INTEGER}
AND ae.update_time BETWEEN #{start,jdbcType=TIMESTAMP}
AND #{end,jdbcType=TIMESTAMP}
ORDER BY
	ae.update_time ASC
   
   
   </select>
   
  <!-- 获取单条考勤详细 -->
      <select id="selectAttenceEventAndCommentsByEventId" parameterType="map"  resultMap="attenceEventAndCommentMap">
  			
SELECT
	de.*, 
	c.comment_id as c_comment_id,
c.user_id AS c_user_id,
	c.creator AS c_creator,
	c.create_time AS c_create_time,
	c.content AS c_content
FROM
	attence_events de
left JOIN comments c ON de.se_id = c.event_id
where 
 de.se_id = #{eventId,jdbcType=CHAR} and de.valid = 0
ORDER BY
	c.update_time DESC
  
  </select>
  
  
  
  
  
  
</mapper>