<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ost.edge.onestong.dao.event.base.EventBaseMapper">
	
	<update id="updateCommentCount" parameterType="map">

		update ${eventTable} set comment_count = comment_count${plusOrReduce} where
		${eventIdCol} = #{eventId,jdbcType=VARCHAR}

	</update>
	
	
	<update id="updateLikeCount" parameterType="map">

		update ${eventTable} set like_count = like_count${plusOrReduce} where
		${eventIdCol} = #{eventId,jdbcType=VARCHAR}

	</update>
	
	
	<select id="selectUserByEvent"  parameterType="map"  resultType="java.lang.String">
		select u.c_id from ${eventTable}  ,users u where ${eventTable}.user_id = u.user_id  and ${eventTable}.${eventIdCol} = #{eventId,jdbcType=VARCHAR}
	
	</select>
	
	<select  id="selectLikeTotalCount" parameterType="map" resultType="java.lang.Integer" >
	
	select 	 like_count  from  ${eventTable}   where
		${eventIdCol} = #{eventId,jdbcType=VARCHAR}
	</select>
	
	
	
</mapper>