<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ost.contacts.dao.ContactDao">

	<resultMap type="org.ost.entity.contacts.dto.ContactsListDto"
		id="contactsListMapper">
		<result property="dept" column="dept" />
		<result property="email" column="contactInfoVals" javaType="java.util.List" />
		<result property="headPic" column="headPic" />
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="position" column="position" />
		<result property="py" column="py" />
		<result property="tenantId" column="schemaID" />
		<result property="sex" column="sex" />
		<result property="sexName" column="sexName" />
		<result property="szm" column="szm" />
		<result property="projectId" column="projectId" />
		<result property="customerID" column="customerID" />

	</resultMap>


	<select id="selectContacts" resultMap="contactsListMapper">

		SELECT
		<!-- GROUP_CONCAT(t1.type) contactInfoTypes , -->
		GROUP_CONCAT(t1.val)
		contactInfoVals,
		t1.id ,
		t1.customerID,
		t1.py ,
		t1.sex ,
		   CASE WHEN t1.sex = 0 THEN '先生' 
                 WHEN t1.sex = 1 THEN '女士'
            ELSE '' END  sexName,
		t1.headPic ,
		t1.szm ,
		t1.dept ,
		t1.position ,
		CONCAT(t1.firstName , t1.lastName) name

		FROM
		(
		SELECT
		t.*
		FROM
		(
		SELECT
		tc.id ,
		tc.schemaID ,
		tc.py ,
		tc.sex ,
		tc.headPic ,
		tc.szm ,
		tc.dept ,
		tc.position ,
		tc.firstName ,
		tc.lastName ,
		tci.type ,
		tci.val,
		tcc.customerID
		FROM
		tbl_contact tc
		LEFT
		JOIN
		tbl_contact_info tci ON(tc.id , tc.schemaID) =(tci.contactID ,
		tci.schemaID)
		and tci.type = 'email'
		left join tbl_customer_contact tcc
		on (tc.id,tc.schemaID) =
		(tcc.contactID , tcc.schemaID)
		) t

		<where>
			<trim suffixOverrides="or">
				<if test="name != null and name != ''">

					INSTR(CONCAT(t.firstName,t.lastName),#{name}) >0
					or
				</if>
				<if test="phone != null and phone != ''">
					instr(t.val,#{phone}) >0 or
				</if>
				<if test="email != null and email != ''">
					INSTR(t.val,#{email})
				</if>
			</trim>
			<trim suffixOverrides="and">

				<if test="customerId != null ">
					and t.customerID = #{customerId}
				</if>
			</trim>

		</where>
		) t1
		group by t1.id ,
		t1.py ,
		t1.sex ,
		t1.headPic ,
		t1.szm ,
		t1.dept ,
		t1.position ,
		t1.firstName ,
		t1.lastName ,
		t1.customerID
	</select>


	<select id="selectCountContacts" resultType="java.lang.Integer">
		select count( DISTINCT t.id) from (
		select tc.id,
		tc.firstName,
		tc.lastName,
		tci.type,
		tci.val,
		tcc.customerID

		from tbl_contact tc
		left
		join
		tbl_contact_info tci
		on (tc.id,tc.schemaID) =
		(tci.contactID
		,tci.schemaID)
		left join tbl_customer_contact tcc
		on(tc.id ,tc.schemaID)
		=
		(tcc.contactID,tcc.schemaID)
		) t
		<where>
			<trim suffixOverrides="or">
				<if test="name != null and name != ''">

					INSTR(CONCAT(t.firstName,t.lastName),#{name}) >0
					or
				</if>
				<if test="phone != null and phone != ''">
					instr(t.val,#{phone}) >0 or
				</if>
				<if test="email != null and email != ''">
					INSTR(t.val,#{email})
				</if>
			</trim>
			<trim suffixOverrides="and">

				<if test="customerId != null ">
					and t.customerID = #{customerId}
				</if>
			</trim>

		</where>
	</select>

	<select id="selectByProject" resultType="org.ost.entity.contacts.dto.ContactsListDto">
		select
		tc.id,
		CONCAT(tc.firstName,tc.lastName) name,
		tc.position,
		tc.dept,
		tpc.role
		from tbl_contact tc left join tbl_project_contact tpc

		on(tc.id
		,tc.schemaID) = (tpc.contactID,tpc.schemaID)

		where tpc.projectID =
		#{projectId} and tpc.schemaID = #{schemaId} and tpc.isDelete = 0 and
		tc.isDelete = 0

	</select>

</mapper>