<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ost.contacts.dao.ContactDao" >
 	<select id="getContact" parameterType="map" resultType="map">
 		select 
			tc.dept,
			tc.id,
			tc.first_name firstName,
			tc.last_name lastName,
			tc.position,
			tc.py,
			tc.sex,
			tc.szm
		from 
		tbl_contact tc 
		
		    where tc.id=#{id}
		 
 	</select>
 	
 	<select id="getContactInfo" parameterType="map" resultType="map">
 		select 
			tc.id,
			tc.type ,
			tc.cust_name ,
			tc.val
		from 
		tbl_contact_info tci 	
		    where tc.contact_id=#{id}
		 
 	</select>
 	
 	<select id="getAddress" parameterType="map" resultType="map">
 		select 
			ta.id,
			ta.province ,
			ta.city,
			ta.district,
			ta.detail_address1,
			ta.lat,
			ta.lng
		from 
		tbl_address ta 	
		    where ta.contact_id=#{id}
		 
 	</select>
</mapper>