<header class="am-topbar admin-header am-header-fixed">
  <div class="am-topbar-brand ">
    <strong>ONESTONG</strong> <small>&nbsp;#if(!$entity.accountType)$!entity.domain.domainName#else $!entity.user.optional1 #end</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
<!--       <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
 -->      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span>
           #if($admin) $!admin.login_name  #end
            <span class="am-icon-caret-down"></span>
          <!-- 
          
          {moudles=[{moudleId=1, moudleName=用户管理, moudleUri=/user/list, moudleTag=ost_moudle_users}, {moudleId=2, moudleName=部门管理, moudleUri=/department/list, moudleTag=ost_moudle_depts}], perms=[{permName=添加用户, pmId=1, methodName=}, {permName=更新用户, pmId=1, methodName=}, {permName=禁用用户, pmId=1, methodName=}, {permName=添加部门, pmId=2, methodName=}], account=com.oz.onestong.model.account.Account@1cadfdf3, role=com.oz.onestong.model.authority.Role@62fb6b3a, user=com.oz.onestong.model.user.User@683cdf9a}
           -->
        </a>
        <ul class="am-dropdown-content">
          <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="javascript:;"  class="admin_logout"><span class="am-icon-power-off"></span> 退出</a></li>
                <li><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
          
        </ul>
      </li>
    </ul>
  </div>
  	<input type="hidden" name="ctx" id="ctx" value="$!basePath" />
  
</header>