 <!-- sidebar start -->
  <div class="admin-sidebar"  >
   <!--  <ul class="am-list admin-sidebar-list">
      <li><a href="index.do"><span class="am-icon-home"></span> 首页<span class="am-icon-angle-right am-fr am-margin-right"></span></a></li>
      <li><a href="$!basePath/user/list"><span class="am-icon-user"></span> 用户管理</a></li>
      <li><a href="$!basePath/department/list"><span class="am-icon-group"></span> 部门管理</a></li>
      <li><a href="admin-index.html"><span class="am-icon-cogs"></span> 权限管理</a></li>
      <li><a href="admin-index.html"><span class="am-icon-rocket"></span> 事件</a></li>
      <li><a href="admin-index.html"><span class="am-icon-bar-chart"></span> 报表</a></li>
      
    </ul> -->
		
	$pageTool.generalMoudles($!entity.moudles,$!basePath)
		
	 <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span> 公告</p>
        <p>开发日志点击这里查看</p>
      </div>
    </div>
	
	<div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span> 公告</p>
        <p>开发日志点击这里查看</p>
      </div>
    </div>
    
    
    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span> 公告</p>
        <p>开发日志点击这里查看</p>
      </div>
    </div>
	
    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span> 公告</p>
        <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
      </div>
    </div>

  
  </div>
  <!-- sidebar end -->
