<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.ost.crm.dao.report.VisitReportDao">

	<sql id="whereCriteria">
		<where>
			<trim prefixOverrides="AND |OR">
				<if test="managerOwnerName != null and managerOwnerName !=''">
					and ve.createBy = #{managerOwnerName}
				</if>
				<if test="contactType != null and contactType !=''">
					and ve.visitType = #{contactType}
				</if>
				<if test="start != null">
					and ve.createTime >= #{start,jdbcType=TIMESTAMP}
				</if>
				<if test="end != null">
				<![CDATA[ and ve.createTime <= #{end,jdbcType=TIMESTAMP}]]>
				</if>
				<if test="hasBus != null">
					and
					<choose>
						<when test="hasBus == 0  ">
							ve.projectTypeID is null
						</when>
						<when test="hasBus ==1 ">
							ve.projectTypeID is not null 
						</when>
						<otherwise>
						</otherwise>
					</choose>
				</if>
			</trim>
		</where>

	</sql>

	<select id="selectBy" resultType="java.util.HashMap">
		SELECT
		ve.visitType contactType ,
		ve.createTime createTime ,
		DATE_FORMAT(ve.createTime , '%Y-%m-%d %H:%i') createTimeStr ,
		ve.id id ,
		ve.customerName NAME ,
		CASE
		WHEN pt. NAME IS NULL THEN
		'无'
		ELSE
		'有'
		END hasBusStr ,
		pt. NAME busChange
		FROM
		tbl_visit_event ve
		LEFT JOIN tbl_project_type pt ON(ve.schemaID , ve.projectTypeID)
		=(pt.schemaID , pt.id)
		<include refid="whereCriteria"></include>

		order by ve.createTime
		desc

	</select>


	<select id="selectSummary" resultType="java.util.HashMap">
		select
		sum(
		case when ve.projectTypeID is null then 0 else 1 end
		)
		hasBusChance,count(1) totalRecords,
		(
		length(replace(GROUP_CONCAT(DISTINCT ve.customerID),',','--')) -
		length(
		GROUP_CONCAT(DISTINCT ve.customerID)) )+1 totalCustomer
		from
		tbl_visit_event ve
		<include refid="whereCriteria"></include>
	</select>


	<select id="selectByMonth" resultType="java.util.HashMap">
		SELECT
		t.totalRecords total,
		ifnull(t.totalCustomer , 0)
		count ,
		ROUND(
		t.hasBusChance / t.totalRecords ,
		2
		)
		rate ,
		t.dateStr createTimeStr
		FROM
		(
		SELECT
		DATE_FORMAT(ve.createTime ,
		'%Y年%m月') dateStr ,
		sum(
		CASE
		WHEN
		ve.projectTypeID = null THEN
		0
		ELSE
		1
		END
		) hasBusChance ,
		count(1)
		totalRecords ,
		(
		length(
		REPLACE(
		GROUP_CONCAT(DISTINCT ve.customerID) ,
		',' ,
		'--'
		)
		) - length(
		GROUP_CONCAT(DISTINCT ve.customerID)
		)
		) + 1
		totalCustomer
		FROM
		tbl_visit_event ve
		WHERE
		DATE_FORMAT(ve.createTime ,
		'%Y') =
		DATE_FORMAT(now() , '%Y')
		<trim prefixOverrides="where" prefix="and">
			<include refid="whereCriteria"></include>
		</trim>
		GROUP BY
		DATE_FORMAT(ve.createTime , '%Y年%m月')
		) t
		ORDER BY
		t.dateStr
	</select>

</mapper>