<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>ONESTONG | 登录</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="alternate icon" type="image/png"
	href="$!basePath/resources/i/favicon.png">
<link rel="stylesheet" href="$!basePath/resources/css/amazeui.min.css" />
<style>
.header {
	text-align: center;
}

.header h1 {
	font-size: 200%;
	color: #333;
	margin-top: 30px;
}

.header p {
	font-size: 14px;
}
</style>
</head>
<body>
	<input type="hidden" name="ctx" id="ctx" value="$!basePath" />

	<div class="header">
		<div class="am-g">
				<img alt="" style="height: 300px" src="$!basePath/resources/i/logo/logo_onezero2.png">
		</div>
		<hr />
	</div>
	<div class="am-g">
		<div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
			<form method="post"  id="customer_login" action="$!basePath/login" class="am-form" data-am-validator>
				<label for="email">用户名:</label> <input type="text" name="loginName"
					id="loginName" value="" required> <br> <label
					for="password">密码:</label> <input type="password"
					name="loginPassword" id="loginPassword" value="" required> <br>
				
				<div class="am-radio-group">
					<label class="am-radio-inline"> <input type="radio" name="accountType"
						value="1" checked> 企业账户
					</label>
					<label class="am-radio-inline" > <input type="radio" name="accountType"
						value="2" > 个人账户
					</label>
				</div>
				<label for="remember-me"> <input id="remember-me"
					type="checkbox"> 记住密码
				</label> <br />
				<div class="am-cf am-u-sm-3 am-u-md-3 am-u-sm-centered">
					<button type="submit" id="loginBtn" 
						class="am-btn am-btn-primary am-btn-sm am-fl"> 登录</button>
						 <!-- <input
						type="button" name="" value="忘记密码 ^_^? "
						class="am-btn am-btn-default am-btn-sm am-fr"> -->
				</div>
			</form>
			<hr>
<!-- 			<p>© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
 -->		</div>
	</div>
</body>
<script src="$!basePath/resources/js/jquery.min.js"></script>
<script src="$!basePath/resources/js/amazeui.min.js"></script>

<!--<![endif]-->
<script src="$!basePath/resources/js/app.js"></script>
<script src="$!basePath/resources/js/user/user.js"></script>
<script type="text/javascript">
	$(function() {
		user.init();
	})
</script>

</html>