<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.ost.crm.dao.visit.VisitSupporterDao">

	<select id="selectByVisitId" resultType="org.ost.entity.user.dto.UserListDto">
		select
		veu.userID id,
		veu.userName name ,
		veu.organizeID deptID ,
		veu.organizeName deptName,
		u.pic headPhoto
		from tbl_visit_event_user veu left join

		users u
		on veu.userID = u.user_id
		where 
		veu.schemaID = #{schemaId}
		and veu.role = #{role} 
		and veu.isDelete = 0
		and veu.visitEventID = #{id}
		order by u.realname


	</select>
</mapper>