<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ONSTONG | 授权用户列表</title>
<meta name="description" content="">
<meta name="keywords" content="table">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png"
	href="$!basePath/resources/i/favicon.png">
<link rel="apple-touch-icon-precomposed"
	href="$!basePath/resources/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="$!basePath/resources/css/amazeui.min.css" />
<link rel="stylesheet" href="$!basePath/resources/css/admin.css">
</head>
<body>
	<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

	#parse('common/header_admin.htm')

	<div class="am-cf admin-main">

		#parse('common/sidebar_admin.htm')

		<!-- content start -->
		<div class="admin-content">

			<div class="am-cf am-padding">
				<div class="am-fl am-cf">
					<strong class="am-text-primary am-text-lg">域用户</strong> / <small>列表</small>
				</div>
			</div>

			<div class="am-g">
				<div class="am-u-md-6 am-cf">
					<div class="am-fl am-cf">
						<div class="am-btn-toolbar am-fl">
							<div class="am-btn-group am-btn-group-xs">
								<a href="$!basePath/ost/domainUser/add"
									class="am-btn am-btn-default"><span class="am-icon-plus"></span>
									新增</a>
								<!--               <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
             <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 批量删除</button>
               -->
							</div>

							<!--   <div class="am-form-group am-margin-left am-fl">
              <select>
                <option value="option1">所有类别</option>
                <option value="option2">IT业界</option>
                <option value="option3">数码产品</option>
                <option value="option3">笔记本电脑</option>
                <option value="option3">平板电脑</option>
                <option value="option3">只能手机</option>
                <option value="option3">超极本</option>
              </select>
            </div> -->


						</div>
					</div>
				</div>
				<div class="am-u-md-3 am-cf">
					<div class="am-fr">
						<div class="am-input-group am-input-group-sm">
							<input type="text" class="am-form-field" id="realname"
								value="$!page.pageAttrs.domainName"> <span
								class="am-input-group-btn">
								<button class="am-btn am-btn-default" id="btn_domain_search"
									type="button">搜索</button>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="am-g">
				<div class="am-u-sm-12">

					<table class="am-table am-table-striped am-table-hover table-main">
						<thead>
							<tr>
								<th class="table-check"><input type="checkbox" /></th>
								<th class="table-id">ID</th>
								<th class="table-title">用户名</th>
								<th class="table-author">最后修改人</th>
								<th class="table-date">修改日期</th>
								<th class="table-set">操作</th>
							</tr>
						</thead>
						<tbody>

							#foreach($domain in $!domains)
							<tr id="$!domain.domainId">
								<td><input type="checkbox" /></td>
								<td>$velocityCount</td>
								<td>$!domain.domainName</td>
								<td>$!domain.updator</td>


								<td>$date.format($!domain.updateTime)</td>
								<td>
									<div class="am-btn-toolbar">
										<div class="am-btn-group am-btn-group-xs">
											<button  data-id="$!domain.domainId"
												class="am-btn am-btn-default am-btn-xs am-text-secondary edit_domain_btn">
												<span class="am-icon-pencil-square-o"></span> 编辑
											</button>
											<button   data-am-modal="{target: '#domain_activeCode_add',relatedTarget:{domainId:'$!domain.domainId'}}" 
												class="am-btn am-btn-default am-btn-xs am-text-secondary">
												<span class="am-icon-pencil-square-o"></span> 添加激活码
											</button>
											<button class="am-btn am-btn-default am-btn-xs history">
												<span class="am-icon-copy"></span> 授权历史
											</button>
										</div>
									</div>
								</td>
							</tr>
							#end


						</tbody>
					</table>
					<div class="am-cf">
						共 $!page.totalRecords 条记录

						<!-- 分页 -->
						<div class="am-fr">$pageTool.pages($!page)</div>
					</div>
					<hr />
				</div>

			</div>

		</div>
		<!-- content end -->
	</div>

	#include('/common/footer.htm')

	<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="$!basePath/resources/js/polyfill/rem.min.js"></script>
<script src="$!basePath/resources/js/polyfill/respond.min.js"></script>
<script src="$!basePath/resources/js/amazeui.legacy.js"></script>
<![endif]-->

	<!--[if (gte IE 9)|!(IE)]><!-->
	<script src="$!basePath/resources/js/jquery.min.js"></script>
	<script src="$!basePath/resources/js/amazeui.min.js"></script>
	<!--<![endif]-->
	<script src="$!basePath/resources/js/app.js"></script>
	<script src="$!basePath/resources/js/plugs/page.js"></script>
	<script src="$!basePath/resources/js/admin/domainUser.js"></script>

	<script>
		$(function() {
			page.init();
			domain.init();
		})
	</script>
	
	
	<div class="am-modal am-modal-no-btn" tabindex="-1" id="domain_activeCode_add">
  <div class="am-modal-dialog">
    <div class="am-modal-hd"><span id="domain_active_add_title"></span>
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd">
    	  	    
      	    <form class="am-form am-form-horizontal" id="activeCodeAdd" method="post"
					action="$!basePath/ost/domainUser/doAddActiveCode"data-am-validator>
					<fieldset>

					<input type="hidden" name="domainId" value="" />
						<div class="am-form-group">
							<label for="odSum">数量</label> <input name="odSum"
								type="text" class="js-pattern-number" id="odSum" placeholder="新增数量" required="required">
						</div>
						
						<div class="am-form-group am-u-lg-centered">
							<button type="submit"  id="activeCodeAdd_btn" class="am-btn am-btn-primary am-btn-xs">提交</button>
						
						</div>
      	    </fieldset>
      	    </form>
    </div>
  </div>
</div>


<div class="am-modal am-modal-no-btn" tabindex="-1" id="domain_update_modal">
  <div class="am-modal-dialog ">
    <div class="am-modal-hd">xxxxx单位
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd am-scrollable-vertical"  style="height: 700;width: 1000 ">
      	  <form  class="am-form" id="domain_form" method="post"
					action="$!basePath/ost/domainUser/doAdd"data-am-validator>
					<fieldset>

					<input type="hidden" name="domainId" value="$!entity.domain.domainId" />


						<div class="am-form-group">
							<label for="domainName">域用户名</label> <input name="domainName"
								type="text" class="" id="domainName" placeholder="输入域用户名" required>
						</div>

						<div class="am-form-group">
							<label for="email">邮箱</label> <input name="email" type="text"
								class="js-pattern-email" id="email" placeholder="输入用来发送激活码的邮箱" required="required">
						</div>
						<div class="am-form-group">
							<label for="loginName">账户</label> <input name="loginName"
								type="text" class="" id="loginName" placeholder="输入账户" required="required">
						</div>
						<div class="am-form-group">
							<label for="password">密码</label> <input name="loginPassword"
								type="password" class="" id="password" placeholder="设置个密码吧" required="required">
						</div>
						
						<div class="am-form-group">
							<label for="optional1">确认密码</label> <input name="optional1"
								type="password" class="" id="optional1" placeholder="密码确认" required="required">
						</div>
						<div class="am-form-group">
							<label for="sum">激活码数量</label> <input name="doSum"
								type="text" class="js-pattern-number" id="sum" placeholder="输入激活码数量" required="required">
						</div>
						
						<div class="am-form-group">
						<label for="sum">激活码有效期</label> 
						<div class="am-alert am-alert-danger" id="my-alert" style="display: none">
  <p>开始日期应小于结束日期！</p>
</div>
<div class="am-g">
  <div class="am-u-sm-6">
    <button type="button" class="am-btn am-btn-default am-margin-right" id="my-start">开始日期</button><input name="startTime" style="background: transparent;border: 0" id="my-startDate" size="10" required="required" />
  </div>
  <div class="am-u-sm-6">
    <button type="button" class="am-btn am-btn-default am-margin-right" id="my-end">结束日期</button><input  name="endTime"  id="my-endDate" style="background: transparent;border: 0" size="10" required="required"/>
  </div>
</div>

					</div>	
						
						
						<div class="am-form-group am-u-lg-centered">
						
						</div>
						<button  id="backTolist"  type="submit"  class="am-btn am-btn-primary am-btn-xs">返回列表页</button>
							<button type="submit"  id="user_add_btn" class="am-btn am-btn-primary am-btn-xs">提交</button>
					</fieldset>
				</form>
    </div>
  </div>
</div>



	
</body>
</html>
