<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ost.edge.onestong.dao.user.UserMapper">


	<resultMap id="accountMap" type="org.ost.edge.onestong.model.account.Account">
		<id column="account_id" property="accountId" jdbcType="INTEGER" />
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="login_password" property="loginPassword"
			jdbcType="VARCHAR" />
		<result column="yixin_account" property="yixinAccount"
			jdbcType="VARCHAR" />
		<result column="token" property="token" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap type="org.ost.edge.onestong.model.user.User" id="basicColumnMap">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="realname" property="realname" jdbcType="VARCHAR" />
		<result column="department_name" property="departmentName" jdbcType="VARCHAR" />
		<result column="dept_id" property="deptId" jdbcType="INTEGER" />
		<result column="position" property="position" jdbcType="VARCHAR" />
		<result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="domain_id" property="domainId" jdbcType="INTEGER" />
		<association property="account" resultMap="accountMap"></association>
	</resultMap>


	<resultMap id="BaseResultMap" type="org.ost.edge.onestong.model.user.User">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="realname" property="realname" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="dept_id" property="deptId" jdbcType="INTEGER" />
		<result column="account_id" property="accountId" jdbcType="INTEGER" />
		<result column="valid" property="valid" jdbcType="TINYINT" />
		<result column="state" property="state" jdbcType="TINYINT" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		<result column="is_director" property="isDirector" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="updator" property="updator" jdbcType="VARCHAR" />
		<result column="optional1" property="optional1" jdbcType="VARCHAR" />
		<result column="optional2" property="optional2" jdbcType="VARCHAR" />
		<result column="optional3" property="optional3" jdbcType="VARCHAR" />
		<result column="optional3" property="optional3" jdbcType="VARCHAR" />
		<result column="c_id" property="cId" jdbcType="VARCHAR" />
		<result column="alias_name" property="aliasName" jdbcType="VARCHAR" />
		
		<result column="device_id" property="deviceId" jdbcType="VARCHAR" />
		<result column="domain_id" property="domainId" jdbcType="INTEGER" />
		<result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="department_name" property="departmentName"
			jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		user_id, realname, email, dept_id, account_id, valid, state, pic,
		is_director, create_time,
		update_time, creator, updator, optional1, optional2,
		optional3,device_id,domain_id,phone_num,c_id,alias_name,
		company_name,department_name,position
	</sql>


	<sql id="column_for_list_page">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		user_id, realname, email, dept_id, account_id, valid, state,
		is_director, create_time,
		update_time,device_id,domain_id,phone_num
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="org.ost.edge.onestong.model.user.UserExample">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		select
		<if test="distinct">
			distinct
		</if>
		'true' as QUERYID,
		<include refid="Base_Column_List" />
		from users
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		select
		<include refid="Base_Column_List" />
		from users
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		delete from users
		where user_id = #{userId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="org.ost.edge.onestong.model.user.UserExample">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		delete from users
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="org.ost.edge.onestong.model.user.User">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		<selectKey resultType="java.lang.Integer" keyProperty="userId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into users (realname, email, dept_id,
		account_id, valid, state,
		pic, is_director, create_time,
		update_time, creator, updator,
		optional1, optional2, optional3,device_id,domain_id,phone_num,
		department_name,company_name,position,alias_name,c_id
		)
		values (#{realname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
		#{deptId,jdbcType=INTEGER},
		#{accountId,jdbcType=INTEGER}, #{valid,jdbcType=TINYINT}, #{state,jdbcType=TINYINT},
		#{pic,jdbcType=VARCHAR}, #{isDirector,jdbcType=TINYINT},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{updator,jdbcType=VARCHAR},
		#{optional1,jdbcType=VARCHAR}, #{optional2,jdbcType=VARCHAR},
		#{optional3,jdbcType=VARCHAR}
		,#{deviceId,jdbcType=VARCHAR},#{domainId,jdbcType=INTEGER},#{phoneNum,jdbcType=VARCHAR}
		,#{departmentName,jdbcType=VARCHAR}
		,#{companyName,jdbcType=VARCHAR}
		,#{position,jdbcType=VARCHAR}
		,#{aliasName,jdbcType=VARCHAR}
		,#{cId,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="org.ost.edge.onestong.model.user.User">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		<selectKey resultType="java.lang.Integer" keyProperty="userId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into users
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="realname != null">
				realname,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="deptId != null">
				dept_id,
			</if>
			<if test="accountId != null">
				account_id,
			</if>
			<if test="valid != null">
				valid,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="pic != null">
				pic,
			</if>
			<if test="isDirector != null">
				is_director,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="updator != null">
				updator,
			</if>
			<if test="optional1 != null">
				optional1,
			</if>
			<if test="optional2 != null">
				optional2,
			</if>
			<if test="optional3 != null">
				optional3,
			</if>
			<if test="deviceId != null">
				device_id ,
			</if>

			<if test="domainId != null">
				domain_id ,
			</if>

			<if test="phoneNum!= null">
				phone_num ,
			</if>
			<if test="departmentName!= null">
				department_name ,
			</if>
			<if test="companyName!= null">
				company_name ,
			</if>

			<if test="position!= null">
				position ,
			</if>
			
			
			<if test="aliasName!= null">
				alias_name ,
			</if>
			<if test="cId!= null">
				c_id ,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="realname != null">
				#{realname,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="deptId != null">
				#{deptId,jdbcType=INTEGER},
			</if>
			<if test="accountId != null">
				#{accountId,jdbcType=INTEGER},
			</if>
			<if test="valid != null">
				#{valid,jdbcType=TINYINT},
			</if>
			<if test="state != null">
				#{state,jdbcType=TINYINT},
			</if>
			<if test="pic != null">
				#{pic,jdbcType=VARCHAR},
			</if>
			<if test="isDirector != null">
				#{isDirector,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="updator != null">
				#{updator,jdbcType=VARCHAR},
			</if>
			<if test="optional1 != null">
				#{optional1,jdbcType=VARCHAR},
			</if>
			<if test="optional2 != null">
				#{optional2,jdbcType=VARCHAR},
			</if>
			<if test="optional3 != null">
				#{optional3,jdbcType=VARCHAR},
			</if>
			<if test="deviceId != null">
				#{deviceId,jdbcType=VARCHAR},
			</if>
			<if test="domainId != null">
				#{domainId,jdbcType=INTEGER},
			</if>
			<if test="phoneNum != null">
				#{phoneNum,jdbcType=VARCHAR},
			</if>
			<if test="departmentName != null">
				#{departmentName,jdbcType=VARCHAR},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				#{position,jdbcType=VARCHAR},
			</if>
			<if test="aliasName != null">
				#{aliasName,jdbcType=VARCHAR},
			</if>
			<if test="cId != null">
				#{cId,jdbcType=VARCHAR},
			</if>

		</trim>
	</insert>
	<select id="countByExample" parameterType="org.ost.edge.onestong.model.user.UserExample"
		resultType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		select count(*) from users
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		update users
		<set>
			<if test="record.userId != null">
				user_id = #{record.userId,jdbcType=INTEGER},
			</if>
			<if test="record.realname != null">
				realname = #{record.realname,jdbcType=VARCHAR},
			</if>
			<if test="record.email != null">
				email = #{record.email,jdbcType=VARCHAR},
			</if>
			<if test="record.deptId != null">
				dept_id = #{record.deptId,jdbcType=INTEGER},
			</if>
			<if test="record.accountId != null">
				account_id = #{record.accountId,jdbcType=INTEGER},
			</if>
			<if test="record.valid != null">
				valid = #{record.valid,jdbcType=TINYINT},
			</if>
			<if test="record.state != null">
				state = #{record.state,jdbcType=TINYINT},
			</if>
			<if test="record.pic != null">
				pic = #{record.pic,jdbcType=VARCHAR},
			</if>
			<if test="record.isDirector != null">
				is_director = #{record.isDirector,jdbcType=TINYINT},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.creator != null">
				creator = #{record.creator,jdbcType=VARCHAR},
			</if>
			<if test="record.updator != null">
				updator = #{record.updator,jdbcType=VARCHAR},
			</if>
			<if test="record.optional1 != null">
				optional1 = #{record.optional1,jdbcType=VARCHAR},
			</if>
			<if test="record.optional2 != null">
				optional2 = #{record.optional2,jdbcType=VARCHAR},
			</if>
			<if test="record.optional3 != null">
				optional3 = #{record.optional3,jdbcType=VARCHAR},
			</if>



			<if test="record.deviceId != null">
				device_id = #{record.deviceId,jdbcType=VARCHAR},
			</if>

			<if test="record.domainId != null">
				domain_id = #{record.domainId,jdbcType=INTEGER},
			</if>

			<if test="record.phoneNum != null">
				phone_num = #{record.phoneNum,jdbcType=VARCHAR},
			</if>

			<if test="record.departmentName != null">
				department_name = #{record.departmentName,jdbcType=VARCHAR},
			</if>
			<if test="record.companyName != null">
				company_name = #{record.companyName,jdbcType=VARCHAR},
			</if>
			<if test="record.position != null">
				position = #{record.position,jdbcType=VARCHAR},
			</if>
			
			<if test="record.aliasName != null">
				alias_name = #{record.aliasName,jdbcType=VARCHAR},
			</if>
			
			<if test="record.cId != null">
				c_id = #{record.cId,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		update users
		set user_id = #{record.userId,jdbcType=INTEGER},
		realname = #{record.realname,jdbcType=VARCHAR},
		email = #{record.email,jdbcType=VARCHAR},
		dept_id = #{record.deptId,jdbcType=INTEGER},
		account_id = #{record.accountId,jdbcType=INTEGER},
		valid = #{record.valid,jdbcType=TINYINT},
		state = #{record.state,jdbcType=TINYINT},
		pic = #{record.pic,jdbcType=VARCHAR},
		is_director = #{record.isDirector,jdbcType=TINYINT},
		create_time = #{record.createTime,jdbcType=TIMESTAMP},
		update_time = #{record.updateTime,jdbcType=TIMESTAMP},
		creator = #{record.creator,jdbcType=VARCHAR},
		updator = #{record.updator,jdbcType=VARCHAR},
		optional1 = #{record.optional1,jdbcType=VARCHAR},
		optional2 = #{record.optional2,jdbcType=VARCHAR},
		optional3 = #{record.optional3,jdbcType=VARCHAR},
		device_id = #{record.deviceId,jdbcType=VARCHAR},
		domain_id = #{record.domainId,jdbcType=INTEGER},
		phone_num = #{record.phoneNum,jdbcType=VARCHAR},
		department_name = #{record.departmentName,jdbcType=VARCHAR},
		company_name = #{record.company_name,jdbcType=VARCHAR},
		position = #{record.position,jdbcType=VARCHAR},
		alias_name = #{record.aliasName,jdbcType=VARCHAR},
		c_id = #{record.cId,jdbcType=VARCHAR}


		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="org.ost.edge.onestong.model.user.User">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		update users
		<set>
			<if test="realname != null">
				realname = #{realname,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="deptId != null">
				dept_id = #{deptId,jdbcType=INTEGER},
			</if>
			<if test="accountId != null">
				account_id = #{accountId,jdbcType=INTEGER},
			</if>
			<if test="valid != null">
				valid = #{valid,jdbcType=TINYINT},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=TINYINT},
			</if>
			<if test="pic != null">
				pic = #{pic,jdbcType=VARCHAR},
			</if>
			<if test="isDirector != null">
				is_director = #{isDirector,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="updator != null">
				updator = #{updator,jdbcType=VARCHAR},
			</if>
			<if test="optional1 != null">
				optional1 = #{optional1,jdbcType=VARCHAR},
			</if>
			<if test="optional2 != null">
				optional2 = #{optional2,jdbcType=VARCHAR},
			</if>
			<if test="optional3 != null">
				optional3 = #{optional3,jdbcType=VARCHAR},
			</if>


			<if test="deviceId != null">
				device_id = #{deviceId,jdbcType=VARCHAR},
			</if>

			<if test="domainId != null">
				domain_id = #{domainId,jdbcType=INTEGER},
			</if>
			<if test="phoneNum != null">
				phone_num = #{phoneNum,jdbcType=VARCHAR},
			</if>
			<if test="departmentName != null">
				department_name = #{departmentName,jdbcType=VARCHAR},
			</if>
			<if test="companyName != null">
				company_name = #{companyName,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				position = #{position,jdbcType=VARCHAR},
			</if>
			
			
			
			
			
			<if test="aliasName != null">
				alias_name = #{aliasName,jdbcType=VARCHAR},
			</if>
			
			
			<if test="cId != null">
				c_id = #{cId,jdbcType=VARCHAR},
			</if>
			
			
		</set>
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.ost.edge.onestong.model.user.User">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 25 
			11:03:16 CST 2014. -->
		update users
		set realname = #{realname,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		dept_id = #{deptId,jdbcType=INTEGER},
		account_id = #{accountId,jdbcType=INTEGER},
		valid = #{valid,jdbcType=TINYINT},
		state = #{state,jdbcType=TINYINT},
		pic = #{pic,jdbcType=VARCHAR},
		is_director = #{isDirector,jdbcType=TINYINT},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		creator = #{creator,jdbcType=VARCHAR},
		updator = #{updator,jdbcType=VARCHAR},
		optional1 = #{optional1,jdbcType=VARCHAR},
		optional2 = #{optional2,jdbcType=VARCHAR},
		optional3 = #{optional3,jdbcType=VARCHAR},
		device_id = #{deviceId,jdbcType=VARCHAR},
		domain_id = #{domainId,jdbcType=INTEGER},
		phone_num = #{phoneNum,jdbcType=VARCHAR},
		department_name = #{departmentName,jdbcType=VARCHAR},
		company_name = #{companyName,jdbcType=VARCHAR},
		position = #{position,jdbcType=VARCHAR},
		alias_name = #{aliasName,jdbcType=VARCHAR},
		c_id = #{cId,jdbcType=VARCHAR}
		
		
		where user_id = #{userId,jdbcType=INTEGER}
	</update>

	<!-- -->
	<select id="selectUserAndAccountById"  parameterType="map" resultMap="basicColumnMap" >
	SELECT
	u.user_id,
	u.realname,
	u.phone_num,
	u.email,
	u.domain_id,
	u.department_name,
	u.position,
	u.dept_id,
	u.company_name,
	u.pic,
	a.account_id,
	a.login_name,
	a.login_password,
	a.yixin_account,
	a.token
FROM
	users u,
	accounts a
WHERE
	u.account_id = a.account_id
AND u.valid = 0
AND u.state = 0
AND u.user_id = #{userId,jdbcType=INTEGER}
		
	</select>

	<select id="selectUserAndAccount" resultType="java.util.HashMap">
		select u.* , a.yixin_account from users u ,accounts a where
		u.account_id = a.account_id and u.valid = 0 and a.valid = 0 and u.state = 0 and
		a.state = 0  and u.domain_id =#{domainId,jdbcType=INTEGER} order by u.email   

	</select>
	<select id="selectUserAndAccountByDeptId" parameterType="map"
		resultType="java.util.HashMap">
		select u.* , a.yixin_account from users u ,accounts a where
		u.account_id = a.account_id and u.valid = 0 and a.valid = 0 and u.state = 0 and
		a.state = 0 and u.dept_id =#{deptId,jdbcType=INTEGER}

	</select>

	<select id="selectAccountByUserRealName" parameterType="map"
		resultType="java.util.HashMap">
		select u.user_id, u.realname, a.yixin_account from users u ,accounts a where
		u.account_id = a.account_id and
		u.valid = 0 and
		a.valid = 0
		and u.state = 0
		and a.state = 0
		and u.realname like #{realName,jdbcType=VARCHAR}

	</select>
</mapper>