<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>维德</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="$!basePath/resources/css/amazeui.min.css">
  <link rel="stylesheet" href="$!basePath/resources/css/app.css">
</head>
<body>
<div class="am-g" style="padding: 0">
  <div  class="am-u-sm-12 am-u-lg-5 am-u-sm-centered">
   		<a href="itms-services://www.onestong.com?action=download-manifest&url=https://onestong.com/app/onestong.plist"><img   width="500" src="$!basePath/resources/weide_logo.jpg"    alt="..." class="am-radius"></a>
  </div>
</div>
<div style="margin-top: -50px"  class="am-g am-u-sm-5  am-u-lg-2 am-u-sm-centered"> 
<h1><a href="itms-services://www.onestong.com?action=download-manifest&url=https://onestong.com/app/onestong.plist">App 下载</a></h1>
</div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="$!basePath/resources/js/jquery.min.js"></script>
<script >
</script>
</body>
</html>
