<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oz.onestong.dao.event.VisitEventMapper" >
	<resultMap id="visitEventAndCommentMap" type="com.oz.onestong.model.event.VisitEvent" >
  
    <id column="ve_id" property="veId" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="visited_time" property="visitedTime" jdbcType="TIMESTAMP" />
    <result column="visted_address" property="vistedAddress" jdbcType="VARCHAR" />
    <result column="visted_longitude" property="vistedLongitude" jdbcType="VARCHAR" />
    <result column="visited_latitude" property="visitedLatitude" jdbcType="VARCHAR" />
    <result column="visitout_time" property="visitoutTime" jdbcType="TIMESTAMP" />
    <result column="visitout_address" property="visitoutAddress" jdbcType="VARCHAR" />
    <result column="visitout_longitude" property="visitoutLongitude" jdbcType="VARCHAR" />
    <result column="visitout_latitude" property="visitoutLatitude" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="valid" property="valid" jdbcType="TINYINT" />
    <result column="optional1" property="optional1" jdbcType="VARCHAR" />
    <result column="optional2" property="optional2" jdbcType="VARCHAR" />
    <result column="optional3" property="optional3" jdbcType="VARCHAR" />
    <result column="visit_summary" property="visitSummary" jdbcType="VARCHAR" />
    <result column="visitout_title" property="visitoutTitle" jdbcType="VARCHAR" />
    <result column="like_count" property="likeCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    
    <collection property="comments" ofType="com.oz.onestong.model.comment.Comment">
    <id property="commentId" column="c_comment_id"/>
    <result property="userId" column="c_user_id"/>
    <result property="creator" column="c_creator"/>
    <result property="createTime" column="c_create_time"/>
    <result property="content" column="c_content"/>
  </collection>
    
    
  </resultMap>











  <resultMap id="BaseResultMap" type="com.oz.onestong.model.event.VisitEvent" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    <id column="ve_id" property="veId" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="visited_time" property="visitedTime" jdbcType="TIMESTAMP" />
    <result column="visted_address" property="vistedAddress" jdbcType="VARCHAR" />
    <result column="visted_longitude" property="vistedLongitude" jdbcType="VARCHAR" />
    <result column="visited_latitude" property="visitedLatitude" jdbcType="VARCHAR" />
    <result column="visitout_time" property="visitoutTime" jdbcType="TIMESTAMP" />
    <result column="visitout_address" property="visitoutAddress" jdbcType="VARCHAR" />
    <result column="visitout_longitude" property="visitoutLongitude" jdbcType="VARCHAR" />
    <result column="visitout_latitude" property="visitoutLatitude" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="valid" property="valid" jdbcType="TINYINT" />
    <result column="optional1" property="optional1" jdbcType="VARCHAR" />
    <result column="optional2" property="optional2" jdbcType="VARCHAR" />
    <result column="optional3" property="optional3" jdbcType="VARCHAR" />
    <result column="visit_summary" property="visitSummary" jdbcType="VARCHAR" />
    <result column="visitout_title" property="visitoutTitle" jdbcType="VARCHAR" />
    <result column="like_count" property="likeCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    ve_id, user_id, customer_id, title, content, visited_time, visted_address, visted_longitude, 
    visited_latitude, visitout_time, visitout_address, visitout_longitude, visitout_latitude, 
    state, create_time, update_time, creator, updator, valid, optional1, optional2, optional3, 
    visit_summary, visitout_title, like_count, comment_count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oz.onestong.model.event.VisitEventExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from visit_events
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    select 
    <include refid="Base_Column_List" />
    from visit_events
    where ve_id = #{veId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    delete from visit_events
    where ve_id = #{veId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.oz.onestong.model.event.VisitEventExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    delete from visit_events
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oz.onestong.model.event.VisitEvent" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    insert into visit_events (ve_id, user_id, customer_id, 
      title, content, visited_time, 
      visted_address, visted_longitude, visited_latitude, 
      visitout_time, visitout_address, visitout_longitude, 
      visitout_latitude, state, create_time, 
      update_time, creator, updator, 
      valid, optional1, optional2, 
      optional3, visit_summary, visitout_title, 
      like_count, comment_count)
    values (#{veId,jdbcType=CHAR}, #{userId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{visitedTime,jdbcType=TIMESTAMP}, 
      #{vistedAddress,jdbcType=VARCHAR}, #{vistedLongitude,jdbcType=VARCHAR}, #{visitedLatitude,jdbcType=VARCHAR}, 
      #{visitoutTime,jdbcType=TIMESTAMP}, #{visitoutAddress,jdbcType=VARCHAR}, #{visitoutLongitude,jdbcType=VARCHAR}, 
      #{visitoutLatitude,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{updator,jdbcType=VARCHAR}, 
      #{valid,jdbcType=TINYINT}, #{optional1,jdbcType=VARCHAR}, #{optional2,jdbcType=VARCHAR}, 
      #{optional3,jdbcType=VARCHAR}, #{visitSummary,jdbcType=VARCHAR}, #{visitoutTitle,jdbcType=VARCHAR}, 
      #{likeCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.oz.onestong.model.event.VisitEvent" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    insert into visit_events
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="veId != null" >
        ve_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="visitedTime != null" >
        visited_time,
      </if>
      <if test="vistedAddress != null" >
        visted_address,
      </if>
      <if test="vistedLongitude != null" >
        visted_longitude,
      </if>
      <if test="visitedLatitude != null" >
        visited_latitude,
      </if>
      <if test="visitoutTime != null" >
        visitout_time,
      </if>
      <if test="visitoutAddress != null" >
        visitout_address,
      </if>
      <if test="visitoutLongitude != null" >
        visitout_longitude,
      </if>
      <if test="visitoutLatitude != null" >
        visitout_latitude,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="optional1 != null" >
        optional1,
      </if>
      <if test="optional2 != null" >
        optional2,
      </if>
      <if test="optional3 != null" >
        optional3,
      </if>
      <if test="visitSummary != null" >
        visit_summary,
      </if>
      <if test="visitoutTitle != null" >
        visitout_title,
      </if>
      <if test="likeCount != null" >
        like_count,
      </if>
      <if test="commentCount != null" >
        comment_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="veId != null" >
        #{veId,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="visitedTime != null" >
        #{visitedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vistedAddress != null" >
        #{vistedAddress,jdbcType=VARCHAR},
      </if>
      <if test="vistedLongitude != null" >
        #{vistedLongitude,jdbcType=VARCHAR},
      </if>
      <if test="visitedLatitude != null" >
        #{visitedLatitude,jdbcType=VARCHAR},
      </if>
      <if test="visitoutTime != null" >
        #{visitoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="visitoutAddress != null" >
        #{visitoutAddress,jdbcType=VARCHAR},
      </if>
      <if test="visitoutLongitude != null" >
        #{visitoutLongitude,jdbcType=VARCHAR},
      </if>
      <if test="visitoutLatitude != null" >
        #{visitoutLatitude,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=TINYINT},
      </if>
      <if test="optional1 != null" >
        #{optional1,jdbcType=VARCHAR},
      </if>
      <if test="optional2 != null" >
        #{optional2,jdbcType=VARCHAR},
      </if>
      <if test="optional3 != null" >
        #{optional3,jdbcType=VARCHAR},
      </if>
      <if test="visitSummary != null" >
        #{visitSummary,jdbcType=VARCHAR},
      </if>
      <if test="visitoutTitle != null" >
        #{visitoutTitle,jdbcType=VARCHAR},
      </if>
      <if test="likeCount != null" >
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        #{commentCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oz.onestong.model.event.VisitEventExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    select count(*) from visit_events
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    update visit_events
    <set >
      <if test="record.veId != null" >
        ve_id = #{record.veId,jdbcType=CHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.visitedTime != null" >
        visited_time = #{record.visitedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.vistedAddress != null" >
        visted_address = #{record.vistedAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.vistedLongitude != null" >
        visted_longitude = #{record.vistedLongitude,jdbcType=VARCHAR},
      </if>
      <if test="record.visitedLatitude != null" >
        visited_latitude = #{record.visitedLatitude,jdbcType=VARCHAR},
      </if>
      <if test="record.visitoutTime != null" >
        visitout_time = #{record.visitoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.visitoutAddress != null" >
        visitout_address = #{record.visitoutAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.visitoutLongitude != null" >
        visitout_longitude = #{record.visitoutLongitude,jdbcType=VARCHAR},
      </if>
      <if test="record.visitoutLatitude != null" >
        visitout_latitude = #{record.visitoutLatitude,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updator != null" >
        updator = #{record.updator,jdbcType=VARCHAR},
      </if>
      <if test="record.valid != null" >
        valid = #{record.valid,jdbcType=TINYINT},
      </if>
      <if test="record.optional1 != null" >
        optional1 = #{record.optional1,jdbcType=VARCHAR},
      </if>
      <if test="record.optional2 != null" >
        optional2 = #{record.optional2,jdbcType=VARCHAR},
      </if>
      <if test="record.optional3 != null" >
        optional3 = #{record.optional3,jdbcType=VARCHAR},
      </if>
      <if test="record.visitSummary != null" >
        visit_summary = #{record.visitSummary,jdbcType=VARCHAR},
      </if>
      <if test="record.visitoutTitle != null" >
        visitout_title = #{record.visitoutTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.likeCount != null" >
        like_count = #{record.likeCount,jdbcType=INTEGER},
      </if>
      <if test="record.commentCount != null" >
        comment_count = #{record.commentCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    update visit_events
    set ve_id = #{record.veId,jdbcType=CHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      visited_time = #{record.visitedTime,jdbcType=TIMESTAMP},
      visted_address = #{record.vistedAddress,jdbcType=VARCHAR},
      visted_longitude = #{record.vistedLongitude,jdbcType=VARCHAR},
      visited_latitude = #{record.visitedLatitude,jdbcType=VARCHAR},
      visitout_time = #{record.visitoutTime,jdbcType=TIMESTAMP},
      visitout_address = #{record.visitoutAddress,jdbcType=VARCHAR},
      visitout_longitude = #{record.visitoutLongitude,jdbcType=VARCHAR},
      visitout_latitude = #{record.visitoutLatitude,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR},
      updator = #{record.updator,jdbcType=VARCHAR},
      valid = #{record.valid,jdbcType=TINYINT},
      optional1 = #{record.optional1,jdbcType=VARCHAR},
      optional2 = #{record.optional2,jdbcType=VARCHAR},
      optional3 = #{record.optional3,jdbcType=VARCHAR},
      visit_summary = #{record.visitSummary,jdbcType=VARCHAR},
      visitout_title = #{record.visitoutTitle,jdbcType=VARCHAR},
      like_count = #{record.likeCount,jdbcType=INTEGER},
      comment_count = #{record.commentCount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oz.onestong.model.event.VisitEvent" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    update visit_events
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="visitedTime != null" >
        visited_time = #{visitedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vistedAddress != null" >
        visted_address = #{vistedAddress,jdbcType=VARCHAR},
      </if>
      <if test="vistedLongitude != null" >
        visted_longitude = #{vistedLongitude,jdbcType=VARCHAR},
      </if>
      <if test="visitedLatitude != null" >
        visited_latitude = #{visitedLatitude,jdbcType=VARCHAR},
      </if>
      <if test="visitoutTime != null" >
        visitout_time = #{visitoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="visitoutAddress != null" >
        visitout_address = #{visitoutAddress,jdbcType=VARCHAR},
      </if>
      <if test="visitoutLongitude != null" >
        visitout_longitude = #{visitoutLongitude,jdbcType=VARCHAR},
      </if>
      <if test="visitoutLatitude != null" >
        visitout_latitude = #{visitoutLatitude,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=TINYINT},
      </if>
      <if test="optional1 != null" >
        optional1 = #{optional1,jdbcType=VARCHAR},
      </if>
      <if test="optional2 != null" >
        optional2 = #{optional2,jdbcType=VARCHAR},
      </if>
      <if test="optional3 != null" >
        optional3 = #{optional3,jdbcType=VARCHAR},
      </if>
      <if test="visitSummary != null" >
        visit_summary = #{visitSummary,jdbcType=VARCHAR},
      </if>
      <if test="visitoutTitle != null" >
        visitout_title = #{visitoutTitle,jdbcType=VARCHAR},
      </if>
      <if test="likeCount != null" >
        like_count = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
    </set>
    where ve_id = #{veId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oz.onestong.model.event.VisitEvent" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 14 10:38:36 CST 2015.
    -->
    update visit_events
    set user_id = #{userId,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      visited_time = #{visitedTime,jdbcType=TIMESTAMP},
      visted_address = #{vistedAddress,jdbcType=VARCHAR},
      visted_longitude = #{vistedLongitude,jdbcType=VARCHAR},
      visited_latitude = #{visitedLatitude,jdbcType=VARCHAR},
      visitout_time = #{visitoutTime,jdbcType=TIMESTAMP},
      visitout_address = #{visitoutAddress,jdbcType=VARCHAR},
      visitout_longitude = #{visitoutLongitude,jdbcType=VARCHAR},
      visitout_latitude = #{visitoutLatitude,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      updator = #{updator,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=TINYINT},
      optional1 = #{optional1,jdbcType=VARCHAR},
      optional2 = #{optional2,jdbcType=VARCHAR},
      optional3 = #{optional3,jdbcType=VARCHAR},
      visit_summary = #{visitSummary,jdbcType=VARCHAR},
      visitout_title = #{visitoutTitle,jdbcType=VARCHAR},
      like_count = #{likeCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER}
    where ve_id = #{veId,jdbcType=CHAR}
  </update>
  
  <select id="selectVisitEventAndCommentsByEventId" parameterType="map"  resultMap="visitEventAndCommentMap">
  			
 SELECT
	ve.*, 
	c.comment_id as c_comment_id,
c.user_id AS c_user_id,
	c.creator AS c_creator,
	c.create_time AS c_create_time,
	c.content AS c_content
FROM
	visit_events ve
left JOIN comments c ON ve.ve_id = c.event_id
where 
 ve.ve_id = #{eventId,jdbcType=CHAR} and ve.valid = 0
ORDER BY
	c.update_time DESC
  
  
  </select>
  
  
  
   <select id="selectShortCutReportByDepartmentAndMonth"  parameterType="map" resultType="java.util.HashMap" >
  


		
		
		
		
		
SELECT
	count(ves.ve_id)AS visit_count,
	ves.creator AS username,
	ves.user_id AS user_id,
	sum(
		CASE
		WHEN ves.state = 1 THEN
			1
		
			
		ELSE
			0
		END
	) visitOutYet
	
	
	
	
FROM
	(
		SELECT
			ve.*
		FROM
			visit_events ve,
			users u
		WHERE
			ve.user_id = u.user_id
		AND u.dept_id = #{departmentId,jdbcType=INTEGER}
	)AS ves
WHERE
	ves.update_time BETWEEN #{start,jdbcType=TIMESTAMP}
AND #{end,jdbcType=TIMESTAMP}
GROUP BY
	ves.user_id
		
		
			
  
   </select>
   <!-- single user  oneday  group by update time -->
   <select id="selectShortCutReportByUserAndMonth"  parameterType="map" resultType="java.util.HashMap">
   

   
   
   SELECT
	count(ve.ve_id)  visitInCount,
	ve.user_id,
	ve.updator AS username,
sum(
	case
 
	when  ve.state = 1 then 
     1
ELSE
0 
end 

) visitOutCount,

DATE_FORMAT(ve.update_time,'%Y-%m-%d') updateTime

	
FROM
	visit_events ve
WHERE
	ve.user_id = #{userId,jdbcType=INTEGER}
AND ve.update_time BETWEEN #{start,jdbcType=TIMESTAMP}
AND #{end,jdbcType=TIMESTAMP}

group by DATE_FORMAT(ve.update_time,'%Y-%m-%d')
ORDER BY
	ve.update_time ASC
   
   
   
   
   
   
   </select>
   
   <select id="selectMapTrackingDetailReportByUserAndMonth"  parameterType="map" resultType="java.util.HashMap">
  
  	SELECT
	count(1),
	DATE_FORMAT(ves.create_time, '%Y-%m-%d') as create_time,
	ves.user_id as user_id
FROM
	
(select ve.create_time,ve.user_id  from visit_events ve where ve.user_id = #{userId,jdbcType=INTEGER} AND ve.create_time BETWEEN #{start,jdbcType=TIMESTAMP}
AND #{end,jdbcType=TIMESTAMP} )
as ves

GROUP BY
	DATE_FORMAT(ves.create_time, '%Y-%m-%d')
ORDER BY
	ves.create_time DESC
  
  
  
  </select>
  
 
  
</mapper>